.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 20px;
  background-color: #f2f2f2; 
}

h1 {
  color: #2c3e50;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 5px; 
}

button:hover {
  background-color: #03314f;
}

label {
  font-size: 16px;
  margin-right: 10px;
}

select {
  padding: 8px;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px;
  background-color: #5ca1f0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  color: #3055a5;
}

.delete-button {
  background-color: #e74c3c;
  color: #081c63;
  border: none;
  padding: 8px 12px;
  margin-left: 10px; 
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c0392b;
}